@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Header */
header {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
  height: 40px;
}

/* Navbar */
.navbar {
  color: var(--white-color);
  height: 60px;
  font-family: "Space Grotesk", serif;
  font-weight: 500;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul:nth-of-type(1) {
  display: flex;
  gap: 40px;
}

.navbar ul:nth-of-type(2) {
  display: flex;
  gap: 16px;
}

.navbar a {
  color: var(--secondary-color);
  transition: 0.1s ease;
}

.navbar a:hover {
  color: var(--dark-color);
}

.navbar .shopping-bag {
  position: relative;
}

.navbar .shopping-bag .item-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--dark-color);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hero */
.hero .hero-img img {
  height: 536px;
  background: linear-gradient(
    180deg,
    rgba(52, 56, 57, 0) 83.21%,
    rgba(52, 56, 57, 0.4) 100%
  );
}

.hero .hero-section {
  padding: 30px 0;
}

.hero .hero-section .hero-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hero-text .hero-title {
  font-size: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: -2px;
  line-height: 76px;
}

.hero .hero-text .hero-title span {
  color: var(--secondary-color);
}

.hero .hero-text .hero-description {
  color: var(--secondary-color);
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

.hero .hero-text .hero-description .brand-name {
  color: var(--primary-color);
  font-weight: 600;
}

.hero .hero-img {
  position: relative;
}

.hero .hero-img .arrow {
  position: absolute;
  top: 45%;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px #00000009;
  font-size: 20px;
  z-index: 10;
}

.hero .hero-img .arrow-left {
  left: 30px;
}

.hero .hero-img .arrow-right {
  right: 30px;
}

/* Category*/
.category {
  padding: 10px 0;
}

.category .category-image {
  width: 100%;
  height: auto;
  display: block;
}

.category .category-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: -0.6px;
}

.category .category-item__left,
.category .category-item__right {
  position: relative;
  overflow: hidden;
}

.category .category-item__right {
  margin-bottom: 24px;
}

.category .category-item__left .category-overlay {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 100%;
}

.category .category-item__right .category-overlay {
  position: absolute;
  top: 201px;
  left: 32px;
}

/* New Arrivals */
.new-arrivals {
  padding: 10px 0;
  /* height: 88px; */
}
.new-arrivals .new-arrivals-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
}

.new-arrivals .new-arrivals__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.new-arrivals .new-arrivals__product-list {
  display: flex;
  gap: 24px;
  padding: 48px 0;
}

.new-arrivals .new-arrivals__product .product__main {
  position: relative;
  /* overflow: hidden; */
}

.new-arrivals .new-arrivals__product .product__main .product__overlay {
  position: absolute;
  top: 16px;
  left: 16px;
}

.new-arrivals .new-arrivals__product .product__main button {
  /* display: none; */
  width: 230px;
  height: 46px;
  color: #fefefe;
  background-color: var(--dark-color);
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.4px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visiblity 0.3s ease, transform 0.3s ease;
}

.new-arrivals .new-arrivals__product .product__main:hover button {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-10px);
}

.new-arrivals .new-arrivals__product .product__overlay {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
}

.new-arrivals .new-arrivals__product .product__badge {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #141718;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 4px;
  width: 67px;
  height: 24px;
  text-align: center;
  margin-bottom: 8px;
}

.new-arrivals .new-arrivals__product .product__discount-badge {
  background-color: var(--green-color);
  width: 71px;
  height: 24px;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  color: #fefefe;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.new-arrivals .new-arrivals__product .product__image {
  width: 242px;
  height: 349px;
  display: block;
  cursor: pointer;
}

.new-arrivals .product__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.new-arrivals .new-arrivals__product .product__rating {
  width: 88px;
  /* height: 16px; */
}

.new-arrivals .new-arrivals__product .product-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.new-arrivals .new-arrivals__product .product__price {
  display: flex;
  gap: 12px;
}

.new-arrivals
  .new-arrivals__product
  .product__price
  .product__price-discounted {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.new-arrivals .new-arrivals__product .product__price .product__price-original {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6c7275;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 80px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

/* Featured */
.features {
  padding: 10px 0 0 0;
  height: auto;
  margin-bottom: 40px;
}

.features .feature-card {
  max-width: 262px;
  height: 220px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  position: relative;
  left: 32px;
}

.features .feature-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features .feature-card .feature-card__icon {
  width: 48px;
  height: 48px;
}

.features .feature-card__content .feature-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.features .feature-card__content .feature-card__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-color);
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .container {
  max-width: 1440px;
}

.banner .banner-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  /* padding-right: 160px; */
  padding-left: 72px;
  width: 720px;
}
.banner .banner-content .banner-subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: var(--blue-color);
}

.banner .banner-content .banner-title {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.banner .banner-content .banner-description {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: var(--dark-color);
}

.banner .banner-content .btn {
  width: fit-content;
}

/* Articles */
.articles {
  padding: 20px 0;
}

.articles .articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.articles .article-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.articles .article-card .article-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.articles .article-card .article-card__content .btn {
  width: fit-content;
}

.articles .articles-header .articles-title {
  font-size: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  list-style: 44px;
  letter-spacing: -0.4px;
  color: #000000;
}

.articles .articles-body .article-card__title {
  font-size: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #23262f;
}

/* Newletter */
.newsletter {
  padding: 40px 0 0 0;
  position: relative;
}

.newsletter .container {
  max-width: 1440px;
}

.newsletter .newsletter-image {
  height: 360px;
  overflow-y: hidden;
}

.newsletter .newsletter-image img {
  width: 100%;
  height: 100%;
}

.newsletter .newsletter-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the content horizontally and vertically */
  text-align: center;
  z-index: 2000; /* Ensure content appears above the image */
  margin-top: 32px;
}

.newsletter .newsletter-content .newsletter-content__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  list-style: 44px;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--dark-color);
}

.newsletter .newsletter-content .newsletter-content__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--dark-color);
}

.newsletter .newsletter-content__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  border-bottom: 1px solid var(--secondary-color);
  width: 488px;
  height: 52px;
  margin: 32px auto;
}

.newsletter .newsletter-content__form .newsletter-content__icon img {
  width: 24px;
  height: 24px;
}

.newsletter .newsletter-content__input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.newsletter .newsletter-content__form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: var(--secondary-color);
  background-color: transparent;
}

.newsletter .newsletter-c ontent__form a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: var(--secondary-color);
}

/* Footer */
.footer {
  background-color: var(--dark-color);
  padding-top: 55px;
  height: 240px;
}

.footer .footer-top {
  display: flex;
  justify-content: space-between;
}

.footer .footer-logo {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 32px;
}

.footer .footer-logo img {
  width: 105px;
  height: 24px;
}

.footer .footer-top span {
  color: var(--secondary-color);
  height: 24px;
}

.footer .footer-tagline {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #e8ecef;
}

.footer .footer-nav {
  display: flex;
  gap: 40px;
}

.footer .footer-nav li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fefefe;
}

.footer .footer-bottom p,
.footer-bottom a {
  color: #fefefe;
}

.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 49px;
  border-top: 0.5px solid #6c7275;
  padding-top: 16px;
}

.footer .footer-links {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
}

.footer .footer-bottom .footer-copyright {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.footer .footer-bottom .footer-links li:nth-child(2),
.footer .footer-bottom .footer-links li:nth-child(3) {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.footer .footer-bottom .footer-social {
  display: flex;
  gap: 24px;
}
